{% extends 'index.html' %}
{% block title %}{% endblock title %}
{% block body %}
<h1>Welcome  to the macine learning</h1>
<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">


<li class="soc marg">
        <a class="nav-link" href="breast">Breast Cancer Detection</a>
      </li>

      <li class="soc marg">
        <a class="nav-link" href="weathers">Loan Price Prediction</a>
      </li>
      <li class="soc marg">
        <a class="nav-link" href="weathers">House Price Prediction</a>
      </li>
      <li class="soc marg">
        <a class="nav-link" href="weathers">Email spam</a>
      </li>

</div>

</body>
</html> 



 
{% endblock body %}
